input.todo-item--done(data-js-todo-done type='checkbox')
.todo-item--title(data-js-todo-title) <%= title%>
input.todo-item--edit-title(type='text' data-js-todo-edit-title).hidden
button.todo-item--delete(data-js-todo-delete) x

