extends layouts/base

block styles
  // build:css main.css
  link(rel='stylesheet' href='styles/main.css')
  link(rel='stylesheet' href='styles/TodoItemView.css')
  // endbuild

block content
  .header-block
    h3.text-muted Менеджер задач
  .content-block
    .todo-add-block(data-js-todo-add)
      input.todo-add-block--title(data-js-todo-add-title placeholder='Новая задача')
      button.todo-add-block--submit(data-js-todo-add-submit) Добавить
    .todo-filter-block(data-js-todo-filter)
      input.todo-filter-block--title(data-js-todo-filter-title placeholder='Фильтр по названию')
      br
      div Показывать:
      select.todo-filter-block--done(data-js-todo-filter-done)
        option(selected value='all') все
        option(value='true') выполненные
        option(value='false') не выполненные
    .todo-list-block(data-js-todo-list-block)
      .todo-list-block--name Список задач
      .todo-list-block--items(data-js-todo-list)
  .footer-block

  // templates
  script#todoItem(type='text/template')
    include scripts/view/TodoItemView/TodoItemView

block scripts
  // build:js scripts/main.js
  script(src='scripts/app.js')
  script(src='scripts/model/TodoModel.js')
  script(src='scripts/collection/TodoCollection.js')
  script(src='scripts/view/TodoItemView/TodoItemView.js')
  script(src='scripts/view/TodoListView/TodoListView.js')
  script(src='scripts/view/TodoAddView/TodoAddView.js')
  script(src='scripts/view/TodoFilterView/TodoFilterView.js')
  script(src='scripts/view/AppView/AppView.js')
  script(src='scripts/main.js')
  // endbuild
