extends layouts/base

block styles
  // build:css main.css
  link(rel='stylesheet' href='styles/main.css')
  link(rel='stylesheet' href='scripts/view/AppView/AppView.css')
  link(rel='stylesheet' href='scripts/view/TodoItemView/TodoItemView.css')
  // endbuild

block content
  .header-block
    h3.text-muted Менеджер задач
  .content-block
  .footer-block

block scripts
  // templates
  script#todoItem(type='text/template')
    include scripts/view/TodoItemView/TodoItemView
  script#app(type='text/template')
    include scripts/view/AppView/AppView
  // build:js scripts/main.js
  script(src='scripts/app.js')
  script(src='scripts/model/TodoModel.js')
  script(src='scripts/collection/TodoCollection.js')
  script(src='scripts/collection/TodoFilteredCollection.js')
  script(src='scripts/view/TodoItemView/TodoItemView.js')
  script(src='scripts/view/TodoListView/TodoListView.js')
  script(src='scripts/view/AppView/AppView.js')
  script(src='scripts/main.js')
  // endbuild
