input.todo-filter-block--title(data-js-todo-filter-title placeholder='Фильтр по названию')
br
div Показывать:
select.todo-filter-block--done(data-js-todo-filter-done)
  option(selected value='all') все
  option(value='true') выполненные
  option(value='false') не выполненные
