.todo-add-block(data-js-todo-add)
  input.todo-add-block--title(data-js-todo-add-title placeholder='Новая задача')
  button.todo-add-block--submit(data-js-todo-add-submit) Добавить
.todo-filter-block(data-js-todo-filter)
  input.todo-filter-block--title(data-js-todo-filter-title placeholder='Фильтр по названию')
  br
  div Показывать:
  select.todo-filter-block--done(data-js-todo-filter-done)
    option(selected value='all') все
    option(value='true') выполненные
    option(value='false') не выполненные
.todo-list-block(data-js-todo-list-block)
  .todo-list-block--name Список задач
  .todo-list-block--items(data-js-todo-list)
